html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 24px; 
}

main {
    max-width: 800px;
    margin: auto;
    background-color: white;
}

form {
    padding: 24px;
    background-color: white; 
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px; 
    height: 100px;

}

button {
    padding: 12px;
    font-size: 110%;

}

.main-page-book-review {
    background-color: white;
    border: 1px solid aqua;
    padding: 24px;
    display: grid; 
    grid-template-columns: auto 1fr; 
    grid-template-rows: 1fr; 
}

.book-author {
    color: dimgray; 
    font-size: small;
}

.book-cover {
    display: block;
    width: 200px;
    padding: 24px;
    height: auto;
    display: grid; 
    grid-row-end: span 5; 

}

.book-title {
    font-weight: bold; 
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.form-label {
    padding-bottom: 10px;
}

